.main-layout-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-layout-main{
    margin-top: 75px;
    flex: 1;
}
.form-control:focus{
    box-shadow: 0 0 0 ;
}

.light-theme{
    background-color: rgb(255, 255, 243);
}

.dark-theme{
    background-color: rgb(24, 24, 24);
    color: rgb(243, 243, 243);
}

.card.dark{
    background-color: rgb(48, 48, 48);
    color: rgb(243, 243, 243);
}