
.navbar-dark{
    background-color: rgb(118, 120, 47);
    color: white;
}

.navbar-light{
    background-color: rgb(224, 225, 191);
}

.btn-nav-search  {
    z-index: 1;
    width: 90px;
    color: #212529;
    background-color: white;
    border-color: black
}

.btn-nav-search:hover  {
    background-color: rgb(245, 247, 247);
}

.btn-nav-search:hover:active  {
    background-color: rgb(240, 238, 238);
}

.input-nav-search {
    border: 1px solid black;
}

.link-nav {
    color: black;
    padding: 2px 5px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .15s;
    -webkit-transition: .15s;
    -ms-transition: .15s; 
   
}

.link-nav-active-page, .link-nav:hover{
    background-color: rgb(245, 247, 247);
    border: 1px solid rgba(0, 0, 0, 1);
}

.link-nav:hover:active{
    background-color: rgb(240, 238, 238);
    border: 1px solid rgba(0, 0, 0, 1);

}

.icon-nav{
    max-width: 35px;
    transition: .15s;
    -webkit-transition: .15s;
    -ms-transition: .15s; 
}

.icon-nav-active-page img, .icon-nav:hover img{
    filter: brightness(0) invert(1);
}

.cart-count-nav{
    background-color: rgb(0, 154, 110);
    text-align: center;
    padding-bottom: 5px;
    vertical-align: middle;
    margin-right: -4px;
    width: 16px;
    height: 16px;
    color: white;
    border: 1px, solid, transparent;
    border-radius: 8px;
}

.cart-count-nav div{
    font-weight: 600;

}

.search-list{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 1);
    position: absolute;
    top:  45px;
    left: 1px;
    width: 100%;
}
