
.navbar-dark{
    background-color: rgb(118, 120, 47);
    color: white;
}

.navbar-light{
    background-color: rgb(224, 225, 191);
}


.custome-btn-nav{
    min-width: 90px;
    color: #212529;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: 500;
    transition: .15s;
    -webkit-transition: .15s;
    -ms-transition: .15s
}

.custome-btn-nav.search, .custome-btn-nav.active{
    background-color: white;
    border: 1px solid black;
}


.custome-btn-nav:hover  {
    background-color: rgb(245, 247, 247);
    border: 1px solid black;

}

.custome-btn-nav:active  {
    background-color: rgb(240, 238, 238);
}

.input-nav-search {
    border: 1px solid black;
}

.link-nav {
    color: black;
    padding: 2px 5px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .15s;
    -webkit-transition: .15s;
    -ms-transition: .15s; 
   
}

.link-nav-active-page, .link-nav:hover{
    background-color: rgb(245, 247, 247);
    border: 1px solid rgba(0, 0, 0, 1);
}

.link-nav:hover:active{
    background-color: rgb(240, 238, 238);
    border: 1px solid rgba(0, 0, 0, 1);

}

.icon-nav{
    max-width: 35px;
    transition: .15s;
    -webkit-transition: .15s;
    -ms-transition: .15s; 
}

.icon-nav-active-page img, .icon-nav:hover img{
    filter: brightness(0) invert(1);
}

.cart-count-nav{
    background-color: rgb(0, 154, 110);
    text-align: center;
    padding-bottom: 5px;
    vertical-align: middle;
    margin-right: -4px;
    width: 16px;
    height: 16px;
    color: white;
    border: 1px, solid, transparent;
    border-radius: 8px;
}

.cart-count-nav div{
    font-weight: 600;

}

.search-list{
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top:  44px;
    left: 1px;
    width: 100%;
}

.search-list-item{
    margin: 0;
    margin: 10px 15px;
    font-size: 18px;
}

.search-list-item p{
    display: inline-block;
    margin-left: 10px;
}

.search-list-item img{
    width: 40px;
}
