.sidebar-ligth{
    background-color: rgb(185, 207, 103);
    z-index: 0;
}

.products-layout-content{
    margin-left: clamp(80px, 15%, 200px);
}

.side-bar{
    max-width: 200px;
    min-width: 75px;
    width: 15%;
}

@media screen and (max-width: 950px) {
    .side-bar{
        display: none;
    }
    .products-layout-content{
        margin-left: 0;
    }
}